
html {
  text-align: center
}

html * {
  font-size: 1rem;
}

#close {
  border: none;
  float: right;
  color: #d0d0d0;
  font-size: .8rem;
  background: none;
  padding: .5rem;
}

form {
  padding-top: 30px;
}

label {
  display: block;
  padding: 1rem;
}

input {
  line-height: 1rem;
  padding: .5rem .5rem;
  width: 50%;
  max-width: 200px;
  min-width: 150px;
  border-radius: 5px;
  border: solid 1px #d0d0d0;
  text-align: center;
}

.submit-button {
  padding: .5rem 1.5rem;
  margin-top: 1rem;
  background: #55d079;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
}
